<div class="product col-md-3" id="product-<%= product.id %>">
  <div class="prd_lnks">
    <% if admin_signed_in? %>
      <%= link_to "Edit", edit_product_path(product) %> |
      <%= link_to "Delete", product, method: :delete, confirm: "Are you sure?" %>
    <% else %>
      <% if product.quantity > 0 %>
        <%= link_to "Add to cart", add_to_cart_path(product_id: product.id) %>
      <% else %>
        <label>Out of stock</label>
      <% end %>
    <% end %>
  </div>

  <div class="product_attribute row">
    <h4><%= link_to product.name, product_path(product) %></h4>
  </div>

  <div class="row">
    <div class="product_attribute row">
      <div class="col-lg-10" style="overflow: hidden;">
        <div><%= truncate(product.description, length: 180) %></div>
      </div>
    </div><br />

    <div class="row">
      <div class="col-lg-2"><b>Price</b></div>
      <div class="col-lg-10"><%= number_with_delimiter(product.price, locale: :en) %> INR</div>
    </div>
  </div>
</div>
