<div class="cart">
  <div class="cart_navs">
    <% if user_signed_in? %>
      <%= link_to "Proceed to checkout", new_order_path(current_user), class: 'btn btn-success' %>
    <% end %>
  </div>

  <h3>Cart Items</h3>

  <table class="list_cart_items table table-bordered tablesorter">
    <thead>
      <tr>
        <th>Product Name</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Total</th>
      </tr>
    </thead>
    <tbody>
      <% @products.each do |product| %>
        <tr id="cart_item-<%= product.id %>" class="cart_item">
          <td>
            <%= link_to product.name, product_path(product) %>
          </td>
          <td>
            <%= number_with_delimiter(product.price, locale: :en) %> INR
          </td>
          <td>
            <%= product.quantity.to_i %>
          </td>
          <td>
            <%= number_with_delimiter((product.price * product.quantity), locale: :en) %> INR
          </td>
          <td>
            <%= link_to "Remove from cart", remove_item_path(product_id: product.id) %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <% if @products.count > 1 %>
    <table class="sub_list_cart_items table">
      <tbody>
        <tr>
          <td></td><td></td><td></td><td></td>
          <td>
            <b>Grand Total</b>
          </td>
          <td>
            <%= number_with_delimiter(grand_total(@products), locale: :en) %> INR
          </td>
        </tr>
      </tbody>
    </table>
  <% end %>
</div>
